src/main/resources/xsd/station.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="zone">
		<xs:complexType>
			<xs:sequence>

				<xs:element name="id" type="xs:long" />

				<xs:element name="name" type="xs:string" />

			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>